$headingSizes: ('h1': 2.5rem,
    'h2': 2rem,
    'h3': 1.75rem,
    'h4': 1.5rem,
    'h5': 1.25rem,
    'h6': 1rem);

$zIndexes: ('-1': -1,
    '1': 1,
    '2': 2,
    'dropdown': 1000,
    'sticky': 1020,
    'fixed': 1030,
    'offcanvas-backdrop': 1040,
    'offcanvas': 1045,
    'modal-backdrop': 1050,
    'modal': 1055,
    'popover': 1070,
    'tooltip': 1080);